allennlp==2.10.1
FlagEmbedding==1.1.0
Flask==3.1.2
flask_cors==6.0.1
gdown==5.2.1
jsonlines==4.0.0
matplotlib==3.10.8
nltk==3.8.1
numpy==2.4.1
openai==2.15.0
overrides==7.7.0
pandas==2.3.3
Requests==2.32.5
scikit_learn==1.4.2
scipy==1.17.0
seaborn==0.13.2
tabulate==0.9.0
torch==2.6.0
tqdm==4.66.4
transformers==4.50.3
vllm==0.8.2